## I have all this libraries installed in my environment
## pip install requirements.txt if not using the environment

autogen-agentchat
autogen-ext[openai]
openai
chess==1.10.0
matplotlib
numpy
pandas
yfinance